#dropArea {
  width: 300px;
  height: 150px;
  border: 2px dashed lightgray;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

#fileList {
  margin-bottom: 10px;
}

.videoPreview {
  width: 300px;
}

#progressBarContainer {
  width: 200px;
  height: 20px;
  background-color: lightgray;
  margin-top: 10px;
}

#progressBar {
  width: 0%;
  height: 100%;
  background-color: green;
}

#inputContainer {
  margin-top: 10px;
}

#uploadButton {
  display: block;
  margin-top: 10px;
}
